<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ db_name }}');

/** MySQL database username */
define('DB_USER', '{{ db_user }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ secret_db }}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */

 define('AUTH_KEY',         '`AWwX 3#mnf$$<W@ %nHLshxXh0/7|sg|5`YD!t|of$V+N5v+rv}dif6Z F,{-:i');
 define('SECURE_AUTH_KEY',  'H1NCQhA=f?Mek,4wt7C$OH`9NAQ<xLEP,r,o$JznEIX[@_I<3Cv{EoP5}+uyfs;s');
 define('LOGGED_IN_KEY',    ',gO&-.|$kSMkM<}+cR.Q8goUZ 3]nqg_GU+|Qg-QdGJf1w}pJZvbS/G>}`X*KJ#k');
 define('NONCE_KEY',        'j>+z<F>x{<|Eo+W5z}|4mu#CKq|Yf<-6F|+}w63>~uK0.|u[}4|fizHuc%vr%rg!');
 define('AUTH_SALT',        'e;~%$EZ2X,zS22#+*|z*^U4I;0zGmKVKu@7nj&X}JlK0q2z-;~f[#lv)+;so {q5');
 define('SECURE_AUTH_SALT', 'Z+!.X#1?.KX^Q~?K%D:-O0|_yi@Kwa:+-]7-B$jpRimWgd$oZJlm>2VUj5ZbRZ!R');
 define('LOGGED_IN_SALT',   '(@m-[D/!786K@<uN-f+Y(u!=bD#4-FT)Y!CJ=<@w3:)5K[&= X}W_D+*R,3}%K$m');
 define('NONCE_SALT',       '>|,M!(PsJb,Cgi:~]3Y|OFBllGJEDoj%(qD-d8uf?|o.c$#6MD[:m<;^:}M@J]hp');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wpes';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
